

body {
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            background-color: #2e7d32;
            color: white;
        }
        .logo {
            font-size: 24px;
            font-weight: bold;
            width: 70px;
            height: 90px;
        }
        nav ul {
           display: flex;
            gap: 15px;
        }
        nav ul li {
            display: flex;
        }
        nav ul li a,  #signup{
            text-decoration: none;
            color: white;
            cursor: pointer;
            font-size: 16px;
            padding: 8px 12px;
        
        }
        #signup {
            background-color: #388e3c;
            border-radius: 5px;
           
        }
        .hero {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 50px;
            background-color: #e8f5ee6d;
        }
        .content {
            max-width: 50%;
            text-decoration-color: rgb(0, 0, 0);
        }
        .image img {
            width: 90 ;
            height: 80;
        }
        .read-more {
            background-color: #388e3c;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .container {
            width: 100%;
            max-width: 800px;
            margin: 50px auto;
        }

        h2 {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .search-box {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .search-box input {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        .search-box button {
            background-color: #1E7D20; 
            color: white;
            padding: 12px 20px;
            font-size: 16px;
            border-radius: 30px;
            cursor: pointer;
            font-weight: bold;
        }

        .search-box button:hover {
            background-color: #146214;
        }
        @media (max-width: 768px) {
            .hero {
                flex-direction: column;
                text-align: center;
            }
        
            header {
                flex-direction: column;
                gap: 10px;
            }
        
            nav ul {
                flex-direction: column;
                align-items: center;
            }
        
            .search-box input {
                width: 100%;
                max-width: none;
                margin-bottom: 10px;
            }
        
            .search-box button {
                width: 100%;
                margin-left: 0;
            }
        }
